.dropdown-list-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.required-mark {
    height: 0;
    color: var(--c-red-300);
    text-align: right;
    position: absolute;
}

.dropdown-list {
    position: absolute;
    display: block;
    outline: none;
    top: 1.4rem;
    z-index: 1000;
    overflow-y: scroll;
    text-align: left;
    background-color: var(--c-grey-200);
    color: var(--main-text-color);
}

.dropdown-item {
    padding: 2px;
    border: none;
    outline: none;
}

.dropdown-item:hover {
    background-color: var(--c-grey-500);
}