.image-list-wrapper {
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.image-list-wrapper:has(.control-left) {
    justify-content: space-between;
}

.image-list-wrapper, .control-left, .control-right, .image-list-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-left, .control-right {
    height: 100%;
    width: 5%;
    z-index: 5000;
}

.image-list-wrapper img {
    aspect-ratio: initial;
    min-width: 300px;
    max-height: 90%;
}

.image-list-wrapper:has(.control-left):has(.control-right:nth-child(3)) img {
    max-width: 90%;
}