.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.input-wrapper label {
  display: block;
  color: var(--main-text-color);
  margin-bottom: 0.5rem;
  position: relative;
}

.input-wrapper .required-mark {
  color: var(--error-text-color);
  margin-left: 0.25rem;
}

.input-wrapper input {
  width: 100%;
  height: 1.4rem;
  outline: none;
  background-color: var(--main-input-bg-color);
  border: none;
  border-bottom: var(--main-input-border-color);
  padding: 0.5rem;
  color: var(--main-text-color);
}

.input-wrapper input::placeholder {
  color: var(--main-input-placeholder-color);
}

.input-wrapper input:focus {
  border-bottom: 1px solid var(--main-border-color);
}

.input-wrapper .error-message {
  color: var(--error-text-color);
  margin-top: 0.5rem;
}
