.listings-wrapper {
    height: calc(100% - var(--secondary-bar-height));
    position: absolute;
    width: 100%;
    top: var(--secondary-bar-height);
    padding-top: 1rem;
    overflow-y: scroll;
}

.listings {
    display: flex;
    flex-wrap: wrap;
}

.listing-wrapper {
    list-style: none;
    position: relative;
    height: 0;
    width: 30%;
    padding-bottom: max(30%, 300px);
    min-width: 300px;
    margin-right: 2.5%;
    margin-bottom: 1rem;
    text-align: center;
}

.listing-redirect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 1000;
}

.listing-redirect:hover + .listing, .listing:has(.listing-seller-name:hover), 
.listing:has(.listing-edit-button-wrapper > div > a:hover) {
    border: 1px solid var(--secondary-border-color);
}

.listing-redirect:hover + .listing .listing-image-wrapper, 
.listing:has(.listing-seller-name:hover) .listing-image-wrapper,
.listing:has(.listing-edit-button-wrapper > div > a:hover) .listing-image-wrapper
{
    border-bottom: 1px solid var(--secondary-border-color);
}

.listing-edit-button-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: 5001;
}

.listing-edit-button-wrapper > div {
    position: relative;
    height: 0;
    width: 10%;
    padding-bottom: 10%;
}

.listing-edit-button-wrapper > div > a:hover {
    background-color: var(--c-blue-grey-900);
}

.listing-edit-button-wrapper > div > a { 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 100%;
    height: 100%;
    background-color: var(--secondary-bg-color);
    border-left: 1px solid var(--secondary-border-color);
    border-bottom: 1px solid var(--secondary-border-color);
    z-index: 3000;
}
.listing-edit-button-wrapper img:not(.activate) {
    filter: var(--secondary-svg-color);
    width: 100%;
}

.listing-edit-button-wrapper .activate {
    width: 90%;
    filter: var(--main-error-svg-color);
}

.listing-edit-button-wrapper a:hover .activate {
    filter: var(--secondary-success-svg-color);
}

.listing {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    border: 1px solid var(--main-border-color);
    margin: -1px;
    /* border-radius: 5px; */
}

.listing-image-wrapper {
    height: 80%;
    background-color: var(--c-blue-grey-600);
    border-bottom: 1px solid var(--main-border-color);
    /* border-radius: 5px 5px 0 0; */
}

.listing-details-wrapper {
    height: 20%;
    background-color: var(--c-blue-grey-500);
    /* border-radius: 0 0 5px 5px; */
}

.listing .inactive {
    background-color: var(--c-blue-grey-800);
}

.listing-price, .listing-quantity {
    position: absolute;
    background-color: var(--c-blue-grey-300);
    top: 0;
    padding: 0.1rem 0.3rem;
    z-index: 3001;
}

.listing-price {
    left: 0;
    /* border-radius: 5px 0 0 0; */
}

.listing-quantity {
    right: 0;
    /* border-radius: 0 5px 0 0; */
}

.listing-top-info {
    align-items: flex-start;
    padding: .4rem .4rem 0 .4rem;
}

.listing-name {
    flex-grow: 2;
    text-align: left;
}

.listing-seller-name {
    text-decoration: none;
    color: var(--main-text-color);
    flex-grow: 1;
    text-align: right;
    display: block;
    text-decoration: underline;
    z-index: 1001;
}

.listing-seller-name:hover {
    color: var(--c-light-blue-200);
}

.listing-name, .listing-seller-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* height: 100%; */
}

.listing-bottom-info {
    align-items: flex-end;
    padding: 0 .4rem .4rem .4rem;
}

.listing-top-info, .listing-bottom-info {
    width: 100%;
    height: 50%;
    display: flex;
    gap: 2rem;
}

.listing-tags {
    flex-grow: 2;
}

.listing-date {
    /* width: 50%; */
    flex-grow: 1;
    text-align: right;
}


/* media queries */

@media screen and (max-width: 800px) {
    .listings {
        justify-content: center;
    }

    .listing-wrapper {
        width: 60%;
        padding-bottom: max(60%, 300px);
        min-width: 300px;
        margin-right: 0;
        /* margin-left: 20%; margin-right: 20%; */
        
    }
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
    .listing-wrapper {
        width: 41%;
        padding-bottom: max(40%, 300px);
        min-width: 300px;
        margin-right: 6%;        
    }
    
    .listing-wrapper:nth-of-type(2n + 1) {
        margin-left: 6%;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1500px) {
    .listing-wrapper:nth-of-type(3n + 1) {
        margin-left: 2.5%;
    }
}

@media screen and (min-width: 1501px) and (max-width: 1650px) {
    .listing-wrapper {
        width: max(300px, 22.5%);
        padding-bottom: max(300px, 22.5%);
        margin-right: 2%;
    }

    .listing-wrapper:nth-of-type(4n + 1) {
        margin-left: 2%;
    }
}

@media screen and (min-width: 1651px) {
    .listings {
        width: min(100%, 1680px);
        margin: 0 auto;
    }

    .listing-wrapper {
        width: clamp(300px, 22.5%, 378px);
        padding-bottom: clamp(300px, 22.5%, 378px);
        margin-right: 2%;
    }

    .listing-wrapper:nth-of-type(4n + 1) {
        margin-left: 2%;
    }
}