.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--tertiary-bg-color);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--nav-bar-height); /* Set the height of your navbar */
    color: var(--secondary-text-color);
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }

.navbar li a {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}

.navbar li a:hover {
  color: var(--c-white-700);
}