:root {
    --nav-bar-height: 40px;
    --secondary-bar-height: 3rem;
    --c-yellow-100: rgb(221, 220, 192);

    --c-white-100: #f4f4f4;
    --c-white-300: rgb(234, 228, 228);
    --c-white-500: rgb(222, 215, 215);
    --c-white-700: rgb(200, 200, 200);
    --c-white-800: rgb(180, 180, 180);
    --c-white-900: rgb(172, 172, 172);


    --c-grey-100: rgb(165, 165, 165);
    --c-grey-200: #808080;
    --c-grey-500: #5f5c5c;
    --c-grey-600: #424040;
    --c-grey-700: #3c3a3a;
    --c-grey-800: #303030;
    --c-grey-900: #2a2a2a;

    /* --c-blue-grey-200: #494b4d; */

    /* --c-blue-grey-300: #393b3d;
    --c-blue-grey-400: #353739; */
    --c-blue-grey-50: #4d4f50;
    --c-blue-grey-100: #434546;
    --c-blue-grey-200: #3f4143;
    --c-blue-grey-300: #3a3c3d;
    --c-blue-grey-400: #343637;
    --c-blue-grey-450: #323536;
    /* --c-blue-grey-500: #323334; */
    --c-blue-grey-500: #313232;
    --c-blue-grey-600: #2e2f30;
    --c-blue-grey-700: #292a2a;
    --c-blue-grey-800: #242526;
    --c-blue-grey-900: #17181a;

    --c-light-blue-200: #a6b1c7;

    --c-red-300: #e81212;
    --c-red-500: #a21414;

    --c-green-300: #2d752d;
    --c-green-500: #154e15;

    --main-bg-color: var(--c-blue-grey-700);
    --main-border-color: var(--c-blue-grey-200);
    --main-input-bg-color: var(--c-grey-800);
    --main-input-border-color: var(--c-grey-500);
    --main-input-placeholder-color: var(--c-grey-100);
    --main-text-color: var(--c-white-700);
    --main-svg-color: invert(93%) sepia(3%) saturate(245%) hue-rotate(314deg) brightness(96%) contrast(101%);

    --secondary-bg-color: var(--c-blue-grey-800);
    --secondary-input-bg-color: var(--c-grey-600);
    --secondary-border-color: var(--c-grey-500);
    --secondary-text-color: var(--c-white-800);
    --secondary-svg-color: invert(79%) sepia(0%) saturate(1557%) hue-rotate(221deg) brightness(91%) contrast(96%);

    --tertiary-bg-color: var(--c-blue-grey-900);

    --error-text-color: var(--c-red-300);
    --main-error-svg-color: invert(16%) sepia(92%) saturate(5306%) hue-rotate(354deg) brightness(91%) contrast(101%);
    --secondary-error-svg-color: invert(12%) sepia(79%) saturate(4455%) hue-rotate(352deg) brightness(90%) contrast(96%);

    --success-text-color: var(--c-green-300);
    --main-success-svg-color: invert(22%) sepia(15%) saturate(2292%) hue-rotate(71deg) brightness(101%) contrast(94%);
    --secondary-success-svg-color: invert(35%) sepia(16%) saturate(1779%) hue-rotate(72deg) brightness(101%) contrast(90%);
}