#edit-listing-wrapper {
    position: relative;
    top: var(--nav-bar-height);
    height: calc(100% - var(--nav-bar-height));
    overflow: hidden;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#add-listing-wrapper .image-scroller-delete-wrapper .image-scroller-wrapper {
    max-height: 300px;
}

#add-listing-wrapper .image-scroller-delete-wrapper {
    width: 40%;
    min-width: var(--min-width);
    max-width: var(--max-width);
}