#home-page-wrapper {
    position: relative;
    top: var(--nav-bar-height);
    height: calc(100% - var(--nav-bar-height));
    overflow: hidden;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: center;
}

#search-controls-wrapper {
    height: 4rem;
    border-bottom: 1px solid var(--c-grey-200);
}

#search-controls {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar {
    width: 20rem;
    outline: none;
    border: none;
    border: 12x 1px 0 1px solid var(--main-input-bg-color);
    background-color: var(--main-input-bg-color);
    color: var(--main-text-color);
}

#search-button {
    width: 1.2rem;
    border: none;
    border: 1px solid var(--main-input-bg-color);
    background-color: var(--main-input-bg-color);
}

#search-button:hover {
    border: 1px solid var(--c-grey-100);
    background-color: var(--c-grey-600);
}

#search-bar, #search-button {
    height: 1.2rem;
    padding: 2px;
}

#search-img {
    width: 100%;
    filter: var(--main-svg-color);
}

#search-bar::placeholder {
    color: var(--main-input-placeholder-color);
}

.no-listings {
    text-align: center;
    width: 100%;
}