#listing-page-wrapper {
    position: relative;
    top: var(--nav-bar-height);
    height: calc(100% - var(--nav-bar-height));
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: left;
}

#listing-page-image-section {
    height: 50%;
    width: 100%;
    background-color: var(--secondary-bg-color);
    border: none;
    border-bottom: 1px solid var(--main-border-color);
    border-top: 1px solid var(--secondary-border-color);
}

#listing-page-image-section > div {
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

#listing-page-details-section {
    padding: .5rem 1.25rem;
    font-size: 1.25rem;
}

#listing-page-details-section a {
    text-decoration: underline;
    color: inherit;
}

#listing-page-details-section a:hover {
    color: var(--c-light-blue-200);
}

#listing-page-details-section .listing-detail {
    margin-top: 5px;
}

#listing-page-top-info {
    font-size: 1.5rem;
}

#listing-page-wrapper button {
    margin: 0 1.25rem;
    padding: 3px;
    background-color: var(--c-white-100);
    outline: none;
    border-radius: 2px;
    border: none;
}

#listing-page-wrapper .error {
    color: var(--error-text-color);
    display: inline;
}

#listing-page-wrapper button:hover {
    filter: brightness(80%);
}