.hidden {
  visibility: hidden;
}

#login-wrapper {
  --navbar-height: 80px;
  position: relative;
  top: var(--navbar-height);
  height: calc(100% - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424040;
  text-align: center;
}

#login-form {
  color: white;
  position: relative;
  bottom: calc(var(--navbar-height) / 2);
  width: max(60%, 500px);
  height: 80%;
  padding: 10px;
  background-color: #3c3a3a;
  border: 1px solid rgb(234, 228, 228);
}