.hidden {
    visibility: hidden;
}

#registration-wrapper {
    position: relative;
    top: var(--nav-bar-height);
    height: calc(100% - var(--nav-bar-height));
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    text-align: center;
}

#registration-form {
    color: var(--main-text-color);
    position: relative;
    bottom: calc(var(--nav-bar-height) / 2);
    width: max(60%, 500px);
    height: 80%;
    padding: 10px;
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--secondary-border-color);
}

#registration-form h1 {
    height: 10%;
}

#registration-form input {
    outline: none;
    background-color: var(--main-input-bg-color);
    border: none;
    border: 1px solid var(--main-input-border-color);
    padding: 2px;
    color: var(--main-text-color);
}

.registration-field {
    width: 100%;
    position: relative;
}

#registration-form .registration-field-input {
    width: 40%;
    height: 1.4rem;
}

.registration-field label:has(+ input:required)::after {
    content: "*";
    color: var(--c-red-300);
    position: absolute;
    width: 40%;
    left: calc(30% + 0.7rem);
    text-align: right;
    height: 0;
}

#registration-form ::placeholder {
    color: var(--main-input-placeholder-color);
}

#registration-fields {
    height: 90%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.register-button:hover {
    background-color: var(--c-grey-600) !important;
}

