* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.small-text {
    font-size: .7rem;
}

#seller-wrapper {
    --nav-bar-height: 80px;
    position: relative;
    top: var(--nav-bar-height);
    height: calc(100% - var(--nav-bar-height));
    overflow: hidden;
    color: white;
    background-color: #424040;
    text-align: center;
}

#seller-name-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .5rem 0;
    height: 4rem;
    background-color: rgb(134, 133, 133);
    z-index: 2;
}

#seller-name {
    width: 100%;
}

