* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#seller-wrapper {
    --nav-bar-height: 80px;
    position: relative;
    top: var(--nav-bar-height);
    height: calc(100% - var(--nav-bar-height));
    overflow: hidden;
    color: white;
    background-color: #424040;
}

#seller-name-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .5rem 0;
    height: 4rem;
    background-color: rgb(134, 133, 133);
    z-index: 2;
}

#seller-name {
    width: 100%;
}

.listings-wrapper {
    height: calc(100% - 4rem);
    position: absolute;
    width: 100%;
    top: 4rem;
    padding-top: 1rem;
    overflow-y: scroll;
}

.listings {
    display: flex;
    flex-wrap: wrap;
}

.listing-wrapper {
    list-style: none;
    position: relative;
    height: 0;
    width: 30%;
    padding-bottom: max(30%, 300px);
    min-width: 300px;
    margin-right: 2.5%;
    margin-bottom: 1rem;
    text-align: center;
}

.listing {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    border: 1px solid white;
    /* padding: 5px; */
    margin: 1px;
    
}

.listing-image-wrapper {
    height: 80%;
    border-bottom: 1px solid white;
    display: flex; /* temp */
    align-items: center;
    justify-content: center;
}

.listing-image {
    margin: auto;
    width: 50%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(152deg) brightness(105%) contrast(103%);
}

.listing-details-wrapper {
    height: 20%;
}

.listing-price, .listing-quantity {
    position: absolute;
    /* border-bottom: 1px solid white; */
    background-color: inherit;
    top: 0;
    padding: 0.1rem 0.3rem;
}

.listing-price {
    left: 0;
    /* border-right: 1px solid white; */
    
}

.listing-quantity {
    right: 0;
    /* border-left: 1px solid white; */
}

.listing-name {
    width: 100%;
    height: 50%;
    text-overflow: ellipsis;
    overflow: hidden;

    white-space: nowrap;
}

.listing-tags {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.listing-tags-date-wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.small-text {
    font-size: .7rem;
}

.listing-tag {
    max-width: 4rem;
    margin: 0  .2rem;
    padding: .2rem;
    background-color: grey;
    border-radius: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.listing-date {
    width: 50%;
    text-align: right;
    padding-right: .4rem;
}


/* media queries */

@media screen and (max-width: 800px) {
    .listings {
        justify-content: center;
    }

    .listing-wrapper {
        width: 60%;
        padding-bottom: max(60%, 300px);
        min-width: 300px;
        margin-right: 0;
        /* margin-left: 20%; margin-right: 20%; */
        
    }
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
    .listing-wrapper {
        width: 41%;
        padding-bottom: max(40%, 300px);
        min-width: 300px;
        margin-right: 6%;        
    }
    
    .listing-wrapper:nth-of-type(2n + 1) {
        margin-left: 6%;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1500px) {
    .listing-wrapper:nth-of-type(3n + 1) {
        margin-left: 2.5%;
    }
}

@media screen and (min-width: 1501px) and (max-width: 1650px) {
    .listing-wrapper {
        width: max(300px, 22.5%);
        padding-bottom: max(300px, 22.5%);
        margin-right: 2%;
    }

    .listing-wrapper:nth-of-type(4n + 1) {
        margin-left: 2%;
    }
}

@media screen and (min-width: 1651px) {
    .listings {
        width: min(100%, 1680px);
        margin: 0 auto;
    }

    .listing-wrapper {
        width: clamp(300px, 22.5%, 378px);
        padding-bottom: clamp(300px, 22.5%, 378px);
        margin-right: 2%;
    }

    .listing-wrapper:nth-of-type(4n + 1) {
        margin-left: 2%;
    }
}